$netflix_background: #111;

.nav {
    position: fixed;
    top: 0;
    display: inline-flex;
    justify-content: space-between;
    width: 100%;
    padding-right: 31.25em;
    padding-top: 1.875em;
    height: 2.5em;
    z-index: 1;
    transition: all 0.3s;
    transition-timing-function: ease-in;
    background: transparent;

    .logo {
        width: 5.9375em;
        object-fit: contain;
        position: fixed;
        padding-left: 1.875rem;
    }
    .icon {
        position: fixed;
    }

    .icon:hover {
        cursor: pointer;
        transform: scale(1.2);
        transition: transform 200ms;
    }
}

.black {
    background-color: $netflix_background;
}
