.row {
    color: white;
    padding-top: 0.625rem;

    .titles {
        padding-left: 2.8rem;
        padding-top: 2rem;
        padding-bottom: 1rem;
    }

    .swiper {
        // display: flex;
        // overflow-y: hidden;
        // overflow-x: scroll;
        // padding: 1.25rem;
        margin-block: 1rem;
    }

    .poster {
        // max-height: 9.375rem;
        // padding: 0.3rem;
        transition: transform 400ms;
        cursor: pointer;
        padding-bottom: 1.5rem;
    }

    .poster:hover {
        transform: scale(1.1);
    }
}
