.row {
    color: white;
    .titles {
        padding-left: 2.8rem;
    }

    .swiper {
        margin-block: 1rem;
    }

    .poster {
        // max-height: 9.375rem;
        // padding: 0.3rem;
        transition: transform 400ms;
        cursor: pointer;
        padding-bottom: 1.5rem;
    }

    .poster:hover {
        transform: scale(1.14);
    }
}
