.grid {
    display: grid;
    grid-template-columns: repeat(5, 0.4fr);
    grid-gap: 0.9375rem;
    margin-top: 4.375rem;
}

.poster {
    width: 100%;
    object-fit: contain;
    transition: transform 400ms;
    cursor: pointer;
}

.poster:hover {
    transform: scale(1.1);
}
